*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

nav {
    width: 80%;
    padding: 1rem;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 1%;
    justify-self: center;
    transition: top 300ms linear;
}

.nav_hides{
    top: -15%;
}

.nav_extra_styling{
    border-radius: 6rem;
    box-shadow: 5px 20px 40px #00000014, 5px -10px 40px #00000014;
}

nav ul{
    display: flex;
    align-items: center;
    /* border: 2px solid
    green; */
}

nav li {
    margin: 0 0.8rem;
    font-size: 110%;
    font-weight: bold;
    letter-spacing: 1.2px solid;
}

.fa-caret-down{
    margin: 0 0.4rem;
}

.bars{
    display: none;
}

input[type="submit"]{
    font-size: 1em;
    text-transform: uppercase;
    padding: 14px;
    color: purple;
    background-color: white;
    border: 1px solid purple;
    border-radius: 4px;
    letter-spacing: 0.8px;
}

input[class="start"]{
    color: white;
    background-color: purple;
}

header{
    width: 50vw;
    font-size: 1.6em;
    margin: 1em auto;
    margin-top: 4em;
    text-align: center;
}

header h1{
    width: 100%;
    height: 1.3em;
    background-color: rgba(175, 218, 245, 0.05);
    margin-right: auto;
}

header p{
    font-size: 0.7em;
    padding: 14px 0 7px 10px;
}

.scrollHeading{
    display: inline-flex;
    flex-direction: column;
    color: blueviolet;
    height: 100%;
    width: 14%;
    overflow: hidden;
    animation: widthlength 2.5s 1;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

.extraScroll{
    animation: widthlength 2.5s 1;
    animation-timing-function: linear;
    animation-delay: 8s;
}

@keyframes widthlength {
    0%{
        width: 14%;
        
    }
    16%{
        width: 52%;
        
    }
    32%{
        width: 52%;
        
    }
    48%{
        width: 52%;
        
    }
    64%{
        width: 52%;
        
    }
    80%{
        width: 52%;
        
    }
    100%{
        width: 14%;
        
    }
}

.scrollHeading li{
    width: 100%;
    animation: scroll 2s 1;
    animation-delay: 1s;
    animation-timing-function: linear;
}

@keyframes scroll {
    0%{
        padding-top: 6px;
       transform: translateY(0);
    }
    16%{
        padding-top: 6px;
        transform: translateY(-1.3em);
    }
    32%{
        padding-top: 6px;
        transform: translateY(-2.6em);
    }
    48%{
        padding-top: 6px;
        transform: translateY(-3.9em);
    }
    64%{
        padding-top: 6px;
        transform: translateY(-5.2em);
    }
    80%{
        padding-top: 6px;
        transform: translateY(-6.5em);
    }
    100%{
        padding-top: 6px;
        transform: translateY(-7.8em);    
    }
}

header button {
    font-size: 0.6em;
    padding: 1em 1.8em 1em 1.8em;
    margin-top: 1em;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    cursor: pointer;
}

header .btn1 {
    color: white;
    background-color: purple;
    border: 1px solid purple;
    border-radius: 4px;
}

header .btn2 {
    color: purple;
    border: 1px solid purple;
    background-color: white;
    border-radius: 4px;
}

.pictorial {
    width: 50vw;
    margin: 4em auto;
    margin-bottom: 0;
}

.pictorial ul {
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

.pictorial video {
    width: 90%;
    margin: 3em;
    border-radius: 6px;
}

.title {
    width: 41vw;
    margin: 0 auto;
}

.title h1 {
    font-size: 3em;
    text-align: center;
    padding-bottom: 1em;
}

.title ul{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2em;
}

.title li{
    font-size: 0.9em;
    font-weight: bolder;
    text-transform: uppercase;
}

.ellipse {
    display: block;
    position: absolute;
    width: 100%;
    height: 60%;
    margin-top: -30em;
    z-index: -1;
    margin-bottom: 0;    
}

.titleExplain{
    width: 80%;
    padding-top: 4em;
    display: flex;
    justify-content: space-around;
    margin: 10em auto 0 auto;
    padding-bottom: 4em;
}

.titleDetails{
    width: 70%;
    font-size: 1.3em;
    word-spacing: 7px;
    margin-bottom: 20em;
}

.titleDetails h4, .titleDetails h2, .titleDetails p{
    margin: 0.8em 0;
}

.titleDetails h4{
    text-transform: uppercase;
}

.titleExtraDetails{
    margin: 3em 0;
}

.titleExtraDetails span{
    font-size: 2.4em;
    font-weight: bolder;
    color: #9602c7;
    float: left;
    margin-right: 0.3em;
}

.titleVid{
    height: 70vh;
    width: 80vw;
    background-image: url("/images/svg/rectCircle.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 9em;
    background-position-y: -2.1em;
    position: sticky;
    top: 20vh;
}

.titleVidCollection{
    position: relative;
}

.titleVid video{
    width: 33vw;
    border-radius: 6px;
    position: absolute;
    transition: all 150ms linear;
}

.titleVidDisappear{
    transform: translateX(70px) scale(0.9);
    opacity: 0;    
}

.lastTitleDet{
    margin-bottom: 6.5em;
}

.titleCummulative, .titleVid{
    padding-top: 6em;
}

.lastDetail {
    width: 65vw;
    height: 45vh;
    box-shadow: 5px 5px 35px grey;
    background: linear-gradient(#d1f1ff 0%, #e3edff 35%, #fbf4ff 55%, #fff 100%);
    border-radius: 8px;
    margin: 0 auto;
    padding: 1.5em 1.5em;
    display: flex;
    justify-content: space-between;
}

.lastDetail video{
    width: 50%;
    height: 100%;
}

.Agentforce h4, .Agentforce h2, .Agentforce p{
    font-size: 1.5em;
    word-spacing: 3px;
    width: 80%;
    margin: 0.2em 0;
}

.Agentforce h4{
    font-size: 1em;
    margin-top: 3em;
    text-transform: uppercase;
}

.Agentforce h2{
    font-size: 3em;
}

.Agentforce .more{
    color: #1264a3;
    margin-top: 0.8em;
}

.innovation{
    width: 50vw;
    font-size: 3.5em;
    text-align: center;
    margin: 1.5em auto;
}

.tabs{
    width: 65vw;
    height: 35vh;
    margin: 0 auto;
    display: flex;
}

.tabDetails{
    width: 15%;
    height: 100%;
    margin: 0 0.6em;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
    transition: width 0.5s linear;
}

.openAITab{
    width: 45%;
}

.tabDetails video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.exceptVid{
    width: 60vh;
    padding: 0 0.6em;
    color: #fbf4ff;
    font-size: 1.5em;
    position: absolute;
    bottom: 1.2em;
    opacity: 0;
    pointer-events: none;
}

.tabDetails img{
    position: relative;
    top: -11.8em;
    left: 0.8em;
}

.text_svg{
    font-family: Salesforce-Sans", system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji;
    font-weight: bolder;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5em;
    position: relative;
    z-index: 1;
}

.text_svg h3{
    width: 75%;
}

.tabBtns{
    width: 30%;
    margin: 5em auto 0 auto;
    padding-left: 5em;
}

.tabSectionBtn{
    background-color: #611f69;
    padding: 0.8em 1.8em;
    margin: 0 4px;
    font-size: 1em;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
}

.tabBtn1{
    color: white;
    cursor: pointer;
}

.tabBtn2{
    background-color: white;
    border: 1px solid #611f69;
    color: #611f69;
    cursor: pointer;
}

.business4{
    height: 100%;
}

.business_heading{
    padding: 15em 0;
    padding-bottom: 8em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("images/svg/purple-background-laptop.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.business_heading h2{
    font-size: 3.4em;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
}

.business_heading h1{
    font-size: 7.5em;
    color: #d17dfe;
}

.business_heading p{
    font-size: 1.4em;
    padding-top: 0.4em;
    letter-spacing: 1.8px;
}

.business_heading sup{
    margin-left: -0.3em;
}

.business_heading h2, .business_heading p{
    font-weight: bolder;
    color: white;
}

.estimations {
    margin-top: 2.5em;
    width: 85%;
    height: 40%;
    display: flex;
    align-items: center;
}

.estimationBlock{
    width: 20%;
    margin: 0 auto;
    text-align: center;
}

.business_details{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.business_details h2{
    font-size: 3em;
}

.business_detailed{
    display: flex;
    width: 80%;
    height: 60%;
    margin-top: 4em;
}

.detailedBox{
    width: 60%;
}

.details_Box{
    width: 60%;
    height: 15%;
    margin: 2em auto;
    display: flex;
    align-items: center;
}

.detBox1 {
    border-right: 1px solid black;
}

.detBox1 p{
    font-size: 1em;
    font-weight: 400;
    margin-left: 0.8em;
}

.detBox1 h2 {
    font-size: 3.5em;
}

.img_container{
    display: grid;
    width: 60%;
    margin: 1.3em auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.img_item{
    display: block;
    width: 100%;
}

.detBox2 h2 , .detBox2 p{
    width: 70%;
    font-size: 2.3em;
    margin: 0.2em auto;
}

.detBox2 p {
    font-size: 1.3em;
}

.slack_deep_dive{
    height: 140%;
}

.slack_deep_dive h2{
    margin: 1.3em 1.4em;
    text-align: center;
    font-size: 2em;
}

.slack_deep_tab_collection{
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slack_deep_tab{
    margin-left: 2.2em;
    width: 16%;
    height: 46vh;
    padding: 0.8%;
    position: relative;
    box-shadow: 6px 6px 12px rgb(206, 200, 200), -6px -6px 12px rgb(206, 200, 200);
    margin-bottom: 4%;
    cursor: pointer;
    transition: transform 0.2s linear;
}

.slack_deep_tab:hover{
    transform: scale(1.06);
}

.slack_deep_tab p{
    margin: 4% 0;
}

.slack_deep_tab h3{
    font-size: 150%;
    margin: 4% 0 30% 0;
}

.read_more{
    font-size: 120%;
    text-transform: uppercase;
    color: #1264a3;
}

.read_more_cont i{
    color: #1264a3;
}

.read_more_cont{
    width: 88%;
    position: absolute;
    bottom: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slack_deep_dive ol{
    font-size: 0.75em;
    width: fit-content;
    margin: 1.3em auto;
    padding-left: 0.4em;
}

ol li{
    list-style-type: decimal;
    color: gray;
}

.slack_deep_footer{
    position: relative;
    margin-top: 4em;
}

.slack_deep_footer img{
    width: 100%;
}

.lowerCircle_mobile{
    display: none;
}

.slack_deep_footer_content{
    position: absolute;
    bottom: 25%;
    left: calc(50% - 425px);
}

.slack_deep_footer_content h1{
    font-size: 3em;
    color: white;
}

.slack_deep_footer_buttons{
    width: 53%;
    margin: 1.8em auto;
}

.slack_deep_footer_buttons button{
    font-size: 1.2em;
    padding: 0.6em 1.4em;
    margin-left: 0.75em;
    text-transform: uppercase;
    border-radius: 4px;
}

.slack_deep_footer_btn2{
    border: 1px solid white;
    background-color: #481a54;
    color: white;
}

.slack_deep_footer_btn1{
    color: #481a54;
    border: none;
}

footer{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

footer img{
    margin-top: 4em;
    margin-right: 4em;
}

footer h3{
    font-size: 1.6em;
}

.footer_list_content {
    display: flex;
    width: 60%;
    justify-content: space-around;
    padding: 4em 0;
}

.list_content li{
    margin: 1.3em 0;
    font-size: 1.1em;
    color: #696969;
}

@media screen and (max-width: 450px) {
    
    nav {
        width: 100%;
        justify-content: space-between;
        top: 0; 
    }

    .nav_details li, .nav_inputs input, .nav_inputs li:nth-child(3) {
        display: none;
    }

    .nav_details li:first-child, .bars {
        display: block;
    }

    .nav_inputs li{
        margin-right: 0;
    }

    .nav_inputs li:nth-child(1){
        margin-right: 1rem;
    }

    .nav_inputs li:nth-child(2){
        margin-right: -1rem;
    }

    .nav_extra_styling{
        border-radius: 0;
    }

    header{
        margin-top: 40%;
        width: 80%;
        font-size: 65%;
        padding-top: 2%;
    }

    header h1 {
        margin-bottom: 5%;
    }

    .scrollHeading{
        animation-iteration-count: 0;
        width: 20%;
    }

    .scrollHeading li{
        animation-iteration-count: 0;
    }

    header p{
        width: 90%;
        font-size: 167%;
        text-align: justify;
    }

    header button {
        width: 100%;
        font-size: 130%;
    }

    .fa-arrow-right{
        margin-top: 4%;
    }

    .pictorial {
        margin: 15% auto;
        width: 80%;
    }

    .pictorial ul {
        flex-wrap: wrap;
    }

    .pictorial li{
        margin: 2% 5%;
    }

    .pictorial video{
        width: 95%;
        margin: 18% 0 2% 2%;
        /* border: 2px solid
        green; */
    }

    .title{
        width: 100%;
        margin-top: 0;
        position: relative;
    }

    .title h1{
        font-size: 180%;
        width: 90%;
        margin: 0 auto;
    }

    .title ul {
        display: none;
    }

    .ellipse{        
        position: absolute;
        bottom: -35%;
        height: 45%;
    }

    .titleExplain {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .titleCummulative{
        padding: 0;
        padding-top: 15%;
        position: relative;
    }

    .titleDetails{
        width: 80%;
        font-size: 120%;
        margin: 95% auto;
    }

    .titleDetails:nth-child(1){
        margin-top: 15%;
    }

    .titleDetails:last-child {
        padding: 0;
        margin: 0 auto;
    }

    .titleVid{
        background-image: none;
        height: 60%;
        width: 90%;
        margin: 0 auto;
        padding: 0;
        position: static;
    }

    .titleVidCollection{
        position: static;
    }

    .titleVid video {
        position: absolute;
        display: block;
        width: 110%;
        margin: 0 auto;
    }

    .titleDetails:nth-child(1){
        anchor-name: --title_video_1;
    }
    
    .titleDetails:nth-child(2){
        anchor-name: --title_video_2;
    }
    
    .titleDetails:nth-child(3){
        anchor-name: --title_video_3;
    }
    
    .titleDetails:nth-child(4){
        anchor-name: --title_video_4;
    }

    .titleVid video:nth-child(1){
        position-anchor: --title_video_1;
        position-area: bottom center;
        transform: translate(-5%, 20%);
    }

    .titleVid video:nth-child(2){
        position-anchor: --title_video_2;
        position-area: bottom center;
        transform: translate(-5%, 20%);
    }

    .titleVid video:nth-child(3){
        position-anchor: --title_video_3;
        position-area: bottom center;
        transform: translate(-5%, 20%);
    }

    .titleVid video:nth-child(4){
        position-anchor: --title_video_4;
        position-area: bottom center;
        transform: translate(-5%, 20%);
    }

    .lastDetail {
        margin-top: 100%;
        padding-top: 0;
        width: 85%;
        margin-bottom: 20%;
    }

    .Agentforce{
        font-size: 60%;
    }

    .Agentforce h4{
        font-size: 120%;
    }

    .Agentforce p{
        font-size: 160%;
    }

    .lastDetail video{
        display: none;
    }

    .innovation{
        margin-top: 15%;
        width: 80%;
        font-size: 180%;
    }

    .tabBtns{
        width: 90%;
        padding-left: 0;
        margin-top: 15%;
    }

    .tabSectionBtn{
        width: 100%;
        margin: 2% auto;
    }

    .tabBtn1 {
        font-size: 120%;
    }

    .tabBtn2{
        font-size: 106%;
    }

    .tabs{
        width: 90%;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;        
        scroll-behavior: smooth;
        anchor-name: --tabs_scroll_button;   
        scroll-marker-group: after;
    }

     .tabs::scroll-marker-group{
        display: flex;
        justify-content: center;
        margin-top: 3%;
        gap: 6%;
    }

    .tabs::scroll-button(right), .tabs::scroll-button(left){
        content: '→';
        font-size: 140%;
        font-weight: bolder;
        padding: 35%;
        padding-top: 0;
        color: white;
        background-color: blueviolet;
        border-radius: 50%;
        border: none;
        position: absolute;
        position-anchor: --tabs_scroll_button;
        position-area: right center;
        transform: translateX(-50%);
        z-index: 1;
    }    

    .tabs::scroll-button(left){
        content: '←';
        position-area: left center;
        transform: translateX(50%);
    }

    .tabs::scroll-button(right):disabled, .tabs::scroll-button(left):disabled{
        background-color: grey;
    }

    .tabDetails{
        min-width: 100%;
        position: relative;
        scroll-snap-align: start;
    }

    .tabDetails::scroll-marker{
        content: '';
        height: 0.6em;
        width: 0.6em;
        border-radius: 50%;
        background-color: grey;
    }

    .tabDetails::scroll-marker:target-current{
        background-color: #1264a3;
    }

    .tabDetails:first-child{
        margin-left: 0;
    }

    .tabDetails img{
        position: absolute;
        top: 12%;
        left: 5%;
    }

    .exceptVid {
        opacity: 1;
        width: 100%;
        font-size: 130%;
        height: 80%;
        top: 25%;
        left: 3%;    
    }
    
    svg {    
        position: absolute;    
        right: 0;    
        top: 120%;
    }

    .firstSvg {
        top: 90%;
    }

    .business_heading h2{
        width: 80%;
        font-size: 200%;
        margin-bottom: 0;
    }

    .business_heading{
        padding-top: 42%;
        padding-bottom: 25%;
        background-image: url("images/svg/purple-background-mobile.svg");
    }

    .estimations{
        flex-direction: column;
        width: 100%;
    }

    .estimationBlock{
        width: 70%;
        font-size: 100%;
        margin: 5% 0;
    }

    .estimationBlock h1{
        font-size: 280%;
    }

    .business_details{
        /* border: 2px solid
        blue; */
        height: 100%;
        width: 90%;
        padding-top: 10%;
        margin: 0 auto;
    }

    .business_details h2 {
        font-size: 250%;
        text-align: center;
    }

    .business_detailed{
        display: block;
        height: 100%;
        width: 100%;
        font-size: 50%;
    }

    .detailedBox{
        width: 90%;
        margin: 0 auto;
    }

    .detBox1{
        border-right: none;
        border-bottom: 1px solid black;
        padding-top: 0;
    }

    .detBox2{
        padding: 4% 0;
    }

    .details_Box{
        flex-direction: column;
        width: 100%;
        margin: 6% 0;

        h2{
            font-size: 700%;
        }

        p{
            font-size: 250%;
            margin-left: 0;
            margin-bottom: 10%;
            width: 80%;
            text-align: center;
        }
    }

    .details_Box:nth-child(2) p{
        width: 100%;
    }

    .detBox2{
        margin-top: 4%;

        h2{
            font-size: 440%;
            margin-bottom: 4%;
            width: 100%;
        }

        p{
            font-size: 280%;
            width: 100%;
            margin-bottom: 8%;
            text-align: center;
        }
    }

    .img_container{
        margin-top: 15%;
        height: 100%;
        width: 100%;
        gap: 10% 2%;
    }
    
    .slack_deep_dive{
        margin-top: 14%;
        padding-top: 14%;
        width: 90%;
        margin: 0 auto;
        
        h2{
            font-size: 250%;
            text-align: center;
            width: 100%;
            margin: 4% auto 15% auto;
        }

        .slack_deep_tab_collection{
            justify-content: start;
            width: 75%;
            height: 55vh;
            margin: auto;
            overflow: scroll;
            scrollbar-width: none;
            scroll-behavior: smooth;
            scroll-snap-type: x mandatory;
            anchor-name: --slack-arrow;
            scroll-marker-group: after;

            .slack_deep_tab{
                min-width: 90%;
                height: 90%;
                padding: 6%;
                padding-top: 6%;
                transition: none;
                scroll-snap-align: center;

                img{
                    display: block;
                    width: 100%;
                }

                h3{
                    margin-bottom: 30%;
                }

                .read_more_cont{
                    width: 80%;
                    margin: 0 auto;
                    margin-top: 20%;
                    align-items: center;
                }
            }

            .slack_deep_tab::scroll-marker{
                content: '';
                height: 0.8em;
                width: 0.8em;
                border-radius: 50%;
                background-color: gray;
            }

            .slack_deep_tab::scroll-marker:target-current{
                background-color: #611f69;
            }

            .slack_deep_tab:nth-child(4){
                margin-right: 6%;
            }

            .slack_deep_tab:hover{
                transform: none;
            }
        }

        .slack_deep_tab_collection::scroll-marker-group{
            display: flex;
            justify-content: center;
            margin-top: 3%;
            margin-left: 4%;
            gap: 6%;
        }

        .slack_deep_tab_collection::scroll-button(left), .slack_deep_tab_collection::scroll-button(right){
            content: '←';
            min-height: 9%;
            padding: 8% 16%;
            padding-top: 0;
            border-radius: 50%;
            position-anchor: --slack-arrow;
            position: absolute;
            position-area: left center;
            border: none;
            background-color: #611f69;
            transform: translateX(50%);
            color: #d1f1ff;
            z-index: 15;
        }

        .slack_deep_tab_collection::scroll-button(right){
            content: '→';
            position-area: right center;
            transform: translateX(-50%);
        }

        .slack_deep_tab_collection::scroll-button(left):disabled, .slack_deep_tab_collection::scroll-button(right):disabled{
            opacity: 0.7;
        }

        ol{
            margin-top: 30%;          

            li{
                list-style-type: decimal;
                font-size: 140%;
            }
        }
    }
    
    .slack_deep_footer{

        img {
            display: none;
        }

        .lowerCircle_mobile{
            display: block;
        }

        .slack_deep_footer_content{
            height: 60%;
            left: 0;
            top: 20%;
            h1{
                font-size: 200%;
                width: 68%;
                text-align: justify;
                margin: 0 auto;
            }
        }

        .slack_deep_footer_buttons{
            margin: 6% auto;
            width: 90%;

            button{
                width: 100%;
                margin: 3% 0;
            }
        }
    }

    footer{        
        display: block;
        margin-bottom: 4%;
        
        img {
            display: none;
        }

        .footer_list_content{
            flex-direction: column;
            width: 90%;
            margin: 0 auto;
            padding: 0;

            .footer_content{
                padding-top: 8%;
                
                h3{
                    text-transform: capitalize;
                }

                h3::after{
                    content: '';
                    display: block;
                    float: right;
                    width: 3%;
                    height: 1rem;
                    background-image: url('images/svg/right_arrow.svg');
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                
                .list_content {
                    height: 0;
                    overflow: hidden;
                }

                .list_content_fall_down{
                    height: 100%;
                    overflow: visible;
                }
            }

            .footer_content:nth-child(0){
                
                .list_content{
                    height: 100%;
                    overflow: visible;
                }

                h3::after{
                    transform: rotateZ(90deg);
                }
            }

            .footer_content:first-child{
                border-top: 1px solid lightgray;
            }

            .footer_content:last-child{
                border-bottom: 1px solid lightgray;
                padding-bottom: 8%;
            }
        }
    }

    .h3_arrow_change{
        transform: rotateZ(90deg);
    }    
}

@media screen and (max-width: 375px) {

    .title h1 {
        margin-top: 22%;
        font-size: 150%;
    }
    
    .ellipse{
        bottom: -25%;
    }

    .slack_deep_footer {
    
        .slack_deep_footer_content{ 
            
            h1 {
                font-size: 180%;
            }
        }
    }
    
}

@media screen and (max-width: 320px) {

    .title h1{
        font-size: 140%;
    }
    
    .ellipse{
        bottom: -22%;
    }

    .slack_deep_footer {
    
        .slack_deep_footer_content{ 
            
            h1 {
                font-size: 150%;
            }
        }
    }
    
}